<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Desenvolvido por <a href="http://cepedi.org.br" target="_blank">CEPEDI</a>
    </div>
    <!-- Default to the left -->
    TS SHARA © Todos os direitos reservados
</footer>
